app/cache/*
app/logs/*

!app/cache/config/.gitkeep
!app/cache/doctrine/proxies/.gitkeep
!app/cache/tpl/.gitkeep

!app/logs/.gitkeep

composer.lock
vendor

app/config/parameters.yml

# ide dirs
.idea
nbproject
